#title {
  background-color: #ff4c68;
  color: white;
}
body {
  font-family: "Montserrat";
}

h1 {
  font-family: "Montserrat";
  font-weight: 900;
  font-size: 3.5rem;
  line-height: 1.5;
  margin-bottom: 50px;
}
h2 {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 3rem;
  line-height: 1.5;
}
p {
  color: #8f8f8f;
}

.container-fluid {
  padding: 3% 15% 7%;
}

/* Navigation Bar */
.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}
.navbar {
  padding-bottom: 0 0 4.5rem;
}
.nav-item {
  padding: 0 18px 0 18px;
}
.nav-link {
  font-size: 1.2rem;
  font-weight: 500;
}
/* DownLoad button */
.download-btn {
  margin: 5% 3% 5% 0;
}

/* Title img */
.dog-img {
  transform: rotate(25deg);
  width: 22%;
  position: absolute;
  right: 25%;
}
.title-col {
  margin-top: 7%;
}
/* Feature */
.feature-icon {
  color: #ef8172;
  margin: 10px 0 10px 0;
}
.feature-icon:hover {
  color: #ff4c68;
}
.feature-p {
  width: 60%;
  margin: 0 auto 0 auto;
}
.row h3 {
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 1.5rem;
}
#features .row {
  text-align: center;
}
#features .container {
  padding: 70px 0 70px 0;
}
#features .col-lg-4 {
  padding: 70px 0 70px 0;
}
#features {
  background-color: #fff;
  position: relative;
  /* z-index: 1; */
}
/* Testimonials */
#testimonials {
  text-align: center;
  background-color: #ef8172;
  color: #fff;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}
#press {
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 3%;
}
.press-logo {
  width: 15%;
  margin: 20px 20px 50px 20px;
}
.carousel-item {
  padding: 7% 15%;
}
#pricing {
  padding: 100px;
  text-align: center;
}
.pricing-col {
  padding: 3% 2%;
}

@media (max-width: 992px) {
  #title {
    text-align: center;
  }
  .dog-img {
    position: static;
    transform: rotate(0);
    width: 60%;
  }
}

/* Call to Action */
#cta {
  text-align: center;
  background-color: #ff4c68;
  /* padding: 55px 15% 60px; */
  padding: 7% 15%;
}
#cta h3 {
  font-family: "Montserrat";
  font-weight: 900;
  font-size: 3.5rem;
  color: #fff;
  margin: 0 0 20px;
}
/* Footer */
#footer {
  background-color: #fff;
  text-align: center;
  padding: 7% 15%;
}
#footer .icon {
  margin: 0 px;
}
